---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/-104.93042,39.749434
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 28115d31
      X-Server-Id:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 8fece673
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "28115d31",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '-104.93042,39.749434' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/28115d31"
        }
  recorded_at: Sun, 21 Jan 2024 02:47:03 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/-104.93042,39.749434
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 26f87065
      X-Server-Id:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 8fecea8a
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "26f87065",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '-104.93042,39.749434' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/26f87065"
        }
  recorded_at: Sun, 21 Jan 2024 02:47:03 GMT
recorded_with: VCR 6.0.0
