---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 26f86a33
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 8fecdb7c
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "26f86a33",
            "parameterErrors": [
                {
                    "parameter": "path.point",
                    "message": "Does not match the regex pattern ^(-?\\d+(?:\\.\\d+)?),(-?\\d+(?:\\.\\d+)?)$"
                }
            ],
            "title": "Not Found",
            "type": "https://api.weather.gov/problems/NotFound",
            "status": 404,
            "detail": "Not Found",
            "instance": "https://api.weather.gov/requests/26f86a33"
        }
  recorded_at: Sun, 21 Jan 2024 02:47:02 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 26f86a33
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 8fece031
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "26f86a33",
            "parameterErrors": [
                {
                    "parameter": "path.point",
                    "message": "Does not match the regex pattern ^(-?\\d+(?:\\.\\d+)?),(-?\\d+(?:\\.\\d+)?)$"
                }
            ],
            "title": "Not Found",
            "type": "https://api.weather.gov/problems/NotFound",
            "status": 404,
            "detail": "Not Found",
            "instance": "https://api.weather.gov/requests/26f86a33"
        }
  recorded_at: Sun, 21 Jan 2024 02:47:03 GMT
recorded_with: VCR 6.0.0
