---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/38.6779591,-121.1760583
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/38.678,-121.1761"
      X-Correlation-Id:
      - 204ce2d1
      X-Server-Id:
      - vm-bldr-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - 8fecd389
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "204ce2d1",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/204ce2d1"
        }
  recorded_at: Sun, 21 Jan 2024 02:47:02 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/38.678,-121.1761
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 26edc581
      X-Server-Id:
      - vm-bldr-nids-apiapp8.ncep.noaa.gov
      X-Edge-Request-Id:
      - 8fecd60d
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/38.678,-121.1761",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -121.17610000000001,
                    38.677999999999997
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/38.678,-121.1761",
                "@type": "wx:Point",
                "cwa": "STO",
                "forecastOffice": "https://api.weather.gov/offices/STO",
                "gridId": "STO",
                "gridX": 53,
                "gridY": 70,
                "forecast": "https://api.weather.gov/gridpoints/STO/53,70/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/STO/53,70/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/STO/53,70",
                "observationStations": "https://api.weather.gov/gridpoints/STO/53,70/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -121.147656,
                            38.675956900000003
                        ]
                    },
                    "properties": {
                        "city": "Folsom",
                        "state": "CA",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 2479.5946580537998
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 275
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/CAZ017",
                "county": "https://api.weather.gov/zones/county/CAC067",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/CAZ217",
                "timeZone": "America/Los_Angeles",
                "radarStation": "KDAX"
            }
        }
  recorded_at: Sun, 21 Jan 2024 02:47:02 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/STO/53,70/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 20ad6a7e
      X-Server-Id:
      - vm-bldr-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - 8fecd8c6
    body:
      encoding: UTF-8
      string: |-
        {
            "@context[...]
