<div class="row">
   <h2>Current Temperature: </h2>
   <div class="col-lg-6">
         <img src="<%=current_temperature['icon']%>" alt="" class="pull-left">
         <h2><%= current_temperature["temperature"] %><%=current_temperature['temperatureUnit'] %></h2>
    </div>
</div>